<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.cc') }}">
    <title>My Web Site - Edit Page</title>
    <meta name="description" content="My Web Site">
    
</head>

<body>
    <form method="POST" action="/edit/{{data['page_name']}}">
        <input type="text" value="{{data['page_name']}}" name="page_name" />
        <br><br>
        <textarea id="edit_page" name="content">
        {{data["content"]}}
        </textarea>
        <br><br>
        {% if data["page_name"] == "" %}
        <button type="submit">Create</button>
        {% else %}
        <button type="submit">Edit</button>
        {% endif %}
        
    </form>
</body>

</html>